{% extends "base.html" %}
{% block content %}
<main>
<div class="row">
    <article class="col-9 fs-5 mb-3">
        <div id="myCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="surf"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="4x4"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="family"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='images/banner_barrel.png') }}" width="950">
                    <div class="container">
                        <div class="carousel-caption text-start c">
                            <img src="{{ url_for('static', filename='images/griffin_seal.svg') }}" width="90">
                            <h2 class="text-light">Mitigate Risk. Maximize Rewards</h2>
                            <p class="text-light pb-3 t smaller">
                                Investing can be risk-laden, but with the right experience <br>
                                and skill, it can be exhilarating. Let Bank of Ethan show <br>
                                you our full suite of capabilities.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/climb.jpg') }}" width="950">
                    <div class="container">
                        <div class="carousel-caption text-start c">
                            <img src="{{ url_for('static', filename='images/griffin_seal.svg') }}" height="90">
                            <h2>You're Never Alone.</h2>
                            <p class="pb-5 t smaller">When you bank with the Griffin, you never bank alone.<br>
                                 We're with you at every step of your financial journey.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/banner_family.png') }}" width="950">
                    <div class="container">
                        <div class="carousel-caption text-start c">
                            <img src="{{ url_for('static', filename='images/griffin_seal.svg') }}" height="90">
                            <h2 class="text-light">Your Financial Freedom <br>is Never Just Yours.</h2>
                            <p class="text-light t smaller">Let us help you build the freedom you've always <br>
                                wanted for yourself... and for your loved ones.
                            </p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="container col-xxl-8 c">
            <div class="row featurette  d-flex align-items-center mb-5">
                <h3 class="lh-1 mb-3">Project Outline</h3>
                <p class="lead t">
                    Building on top of our past projects, this capstone web app ties together all the
                    technologies covered in class. The objectives were to implement Docker, Flask,
                    Bootstrap, SQLAlchemy and Python and serve a containerized web app on Heroku that allows users
                    to create accounts and upload/view sample CSV formatted financial statements.
                    Critical backend pieces of this project were building out the logging functions and the
                    automated testing. And as with our previous projects, Github actions were used to build our
                    automated CI/CD pipeline.
                </p>

        </div>
            <hr class="featurette-divider">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class=" col-lg-5">
                    <img src="{{ url_for('static', filename='images/ironman.png') }}"
                         class="d-block mx-lg-auto img-fluid" alt="Ethan"
                         width="300" height="300" loading="lazy">
                </div>
                <div class="col-lg-7">
                    <h3 class="mb-3">Project Creator</h3>
                    <p class="lead t">
                        Hi and welcome! My name is Ethan and I am a candidate for MS in Computer Science at NJIT. I am
                        an aspiring DevOps Engineer that's currently working as a Junior Networking Engineer for a
                        Fortune 500 company. Before making the jump to tech, I was a chef with stints at Thomas Keller's
                        Per Se, Noma in Copenhagen and at Iron Chef Morimoto's NYC namesake restaurant. I love
                        artisanal coffee and staying active. Here's me about to warm-up for my first Iron Man in
                        Mt Tremblant.
                    </p>
                </div>
            </div>
        </div>
    </article>
    <aside class="col-3">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h5 class="type-header c">Logged in as: </h5>
                <p class="t">
                    <img src="{{ url_for('static', filename='images/profile/'+ current_user.user_image ) }}"
                                     height="35" class="rounded-circle">
                     {{ current_user.email }} <br>
                </p>
                <h5 class="type-header c">Balance:</h5>
                <p class="t">{{ current_user.balance }}</p>

            </div>
        </div>
    </aside>
    </main>
</div>
{% endblock %}