{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
    <div class="container col-xxl">
            <div class="row mb-5">
                <div class="col-10 col-sm-8 col-lg-3">
                    <img src="{{ url_for('static', filename='images/momchild-green.jpg') }}"
                         class="d-block mx-lg-auto img-fluid shadow" alt="BOE"
                         width="400" height="700"
                         loading="lazy">
                </div>
                <div class="col-lg-9">
                    <h3 class="fw-bold lh-1 mb-3">Dashboard</h3>
                    <hr class="featurette-divider">
                    <p class="t">
                        <img src="{{ url_for('static', filename='images/profile/' + current_user.user_image ) }}"
                        height="35" class="rounded-circle">
                        {{ current_user.email }}
                    </p>
                </div>
            </div>

        </div>
{% endblock %}
