<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
            {% block styles %}
                {{ bootstrap.load_css() }}
            {% endblock %}
            <title>Bank of Ethan{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <div class="row mt-5">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>